/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #091b26;
  }
  
  /* Header/Blog Title */
  header {
    padding: 30px;
    text-align: center;
    background-image:  url('https://drive.google.com/file/d/1z1sauEBjkwNPi6FNzgvWUtbaZVt8FOWW/view');
    color: white;
  }
  
  header h1 {
    font-size: 50px;
  }

  table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .lista {
    text-align: center;
    padding: 20x 20px;
}

  /* #no_button {
  
  } */
  
  /* Button boton */
  .button {
    overflow: hidden;
    background-color:  #333;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    /* width: 100%; */
  
  }
  
  
  .button a {
    /* float: ; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .button a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* TOP NAV*/
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color:  #333;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav #r {
    float:right;
  }
  
  .noHover{
    pointer-events: none;
  }
  
  .topbutton {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  /* COLUMNAS */
  /* Left column */
  .leftcolumn {   
    padding-left: 1%;
    float: left;
    width: 75%;
    background-color: #f1f1f1;
    flex: 1; /* additionally, equal width */
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 1%;
    flex: 1; /* additionally, equal width */
  }
  
  img {
    width: 100%;
  }
  
  .profile {
    max-width: 50%;
  }
  
  /* Fake image */
  .fakeimg {
    background-color:  #333;
    width: 100%;
    padding: 20px;
  }
  .card2 {
    background-color:  #f1f1f1;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #333;
    margin-top: 20px;
  }
  
  
  /* RESPONSIVE */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* NAVBAR ON TOP */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  } 

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  


  .container {
    width: 500px;
    clear: both;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }
  

  .row {
    display: flex; /* equal height of the children */
  }
 