<header>
    <h1> Hello World! - carreteapp </h1>
    <p> Carrete app es una aplicación en desarrollo para organizar carretes </p>
    <p> Sebastian Villablanca - Javier Zagal</p>
    <p><%@greeting%></p>
    </header>